@import "tailwindcss";

:root {
  --background: #fdfbf7;
  /* Crema Soft */
  --foreground: #1c1917;
  /* Stone 900 (Carbón Cálido) */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --color-primary: #f97316;
  /* Orange 500 */
  --color-primary-foreground: #ffffff;
  --color-accent: #f59e0b;
  /* Amber 500 */
  --color-crema-dark: #f5f2ea;
  --color-crema-light: #ffffff;
}